<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="row">
        <div
          class="col-12"
          *ngFor="let slide of slides"
          draggable
          [dragData]="slide"
          [style.backgroundColor]="slide?.color"
        >
          {{ slide?.name }}
        </div>
      </div>
    </div>
    <div
      class="col-8"
      droppable
        (onDrop)="onSlideDrop($event)"
    >
    <div class="row">
      <div class="col">Draw Box</div>
    </div>

      <div class="row">
        <div class="col-4" 
        *ngFor="let slidepics of slidePictures; let i = index" [style.backgroundColor]="slidepics?.color" droppable
        (onDrop)="onPictureDrop($event,i)">
      {{slidepics.name}} - {{slidepics?.picture}}
      </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <div
          class="col-12"
          *ngFor="let pic of pictures"
          draggable
          [dragData]="pic"
        >
          {{ pic?.image }}
        </div>
      </div>
    </div>
  </div>
</div>
